<!DOCTYPE html>
<html>
<head>
	<title>Create a new Fox</title>
</head>
<body>
	<fieldset>
		<legend>Create a new Fox</legend>
		<form action="/" method="POST">
			<label>Name:</label>
			<input type="text" name="name">
			<label>Description:</label>
			<input type="text" name="description">
			<input type="submit">
		</form>
	</fieldset>
</body>
</html>
